[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group Xiaomi Maintainers
	forgeCommitter = group Xiaomi Maintainers
	label-Code-Review = -2..+2 group Xiaomi Maintainers
	label-Verified = -1..+1 group Xiaomi Maintainers
	rebase = group Xiaomi Maintainers
	submit = group Xiaomi Maintainers
	push = group Xiaomi Maintainers
